* {
    margin: 0;
    padding: 0;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.top_menu {
    display: flex;
    background-color: #666;
    height: 65px;
    justify-content: space-between;
}
.top_menu ul {
    display: flex;
    justify-content: space-around;
    width: 55%;
    align-items: center;
    list-style: none;
}
.top_menu a:link, .top_menu a:visited {
    color: white;
    text-decoration: none;
    transition: all .2s ease-out;
}
.top_menu a:hover {
    color: black;
}
.top_menu a:active {
    color: red;
}
.banner {
    background-image: url(../img/banner.png);
    background-size: cover;
    text-align: center;
    color: white;
}
.banner {
    padding: 50px 0;
}
h3 {
    font-weight: 100;
    font-size: 15px;
}
.pb-50 {
    padding-bottom: 50px;
}